In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

from tensorflow.keras.models import load_model

In [2]:
filepath = 'C:/Users/ss230/Documents/Study/NSIDC/Edited Data/N_Sea_Ice_Index_Regional_Monthly_Data_G02135_v3.0.xlsx'
Baffin = pd.read_excel(filepath, sheet_name='Baffin-Extent-km^2')
Barents = pd.read_excel(filepath, sheet_name='Barents-Extent-km^2')
Bering = pd.read_excel(filepath, sheet_name='Bering-Extent-km^2')
Greenland = pd.read_excel(filepath, sheet_name='Greenland-Extent-km^2')
Kara = pd.read_excel(filepath, sheet_name='Kara-Extent-km^2')

In [3]:
import sys
sys.path.append('C:/Users/ss230/Documents/Study/NSIDC/SH/Bi_LSTM_Extent/')
import Function as fp

In [4]:
fp.month_mapping(Baffin)
fp.date_time(Baffin)

fp.month_mapping(Barents)
fp.date_time(Barents)

fp.month_mapping(Bering)
fp.date_time(Bering)

fp.month_mapping(Greenland)
fp.date_time(Greenland)

fp.month_mapping(Kara)
fp.date_time(Kara)

         Extent       Date
0    917992.880 1979-01-01
1    917992.880 1979-02-01
2    917992.880 1979-03-01
3    917992.880 1979-04-01
4    917992.880 1979-05-01
..          ...        ...
533  728642.743 2023-06-01
534  437024.646 2023-07-01
535  202260.789 2023-08-01
536   98103.856 2023-09-01
537  260413.272 2023-10-01

[538 rows x 2 columns]

In [5]:
Baffin = Baffin[(Baffin['Date'].dt.year == 2021) | (Baffin['Date'].dt.year == 2022)]
Barents = Barents[(Barents['Date'].dt.year == 2021) | (Barents['Date'].dt.year == 2022)]
Bering = Bering[(Bering['Date'].dt.year == 2021) | (Bering['Date'].dt.year == 2022)]
Greenland = Greenland[(Greenland['Date'].dt.year == 2021) | (Greenland['Date'].dt.year == 2022)]
Kara = Kara[(Kara['Date'].dt.year == 2021) | (Kara['Date'].dt.year == 2022)]

Baffin

          Extent       Date
504   917362.266 2021-01-01
505  1040584.040 2021-02-01
506  1147997.675 2021-03-01
507  1074255.327 2021-04-01
508   875527.315 2021-05-01
509   629820.756 2021-06-01
510   204308.900 2021-07-01
511    45059.062 2021-08-01
512    33770.277 2021-09-01
513    64135.631 2021-10-01
514   400581.715 2021-11-01
515   698631.451 2021-12-01
516   973313.225 2022-01-01
517  1335339.087 2022-02-01
518  1429096.704 2022-03-01
519  1206542.314 2022-04-01
520  1079292.433 2022-05-01
521   788101.638 2022-06-01
522   397326.270 2022-07-01
523    97802.348 2022-08-01
524    62212.219 2022-09-01
525   154051.600 2022-10-01
526   610663.893 2022-11-01
527   756679.164 2022-12-01

In [6]:
baff_bi = load_model("C:/Users/ss230/Documents/Study/NSIDC/NH/Bi_LSTM/Baffin Bay/Baffin_model")
baren_bi = load_model("C:/Users/ss230/Documents/Study/NSIDC/NH/Bi_LSTM/Barents Sea/Barents_model")
ber_bi = load_model("C:/Users/ss230/Documents/Study/NSIDC/NH/Bi_LSTM/Bering Sea/Bering_model")
green_bi = load_model("C:/Users/ss230/Documents/Study/NSIDC/NH/Bi_LSTM/Greenland Sea/Greenland_model")
kara_bi = load_model("C:/Users/ss230/Documents/Study/NSIDC/NH/Bi_LSTM/Kara Sea/Kara_model")

baff_cnn = load_model("C:/Users/ss230/Documents/Study/NSIDC/NH/CNN+LSTM/Baffin Bay/Baffin_model")
baren_cnn = load_model("C:/Users/ss230/Documents/Study/NSIDC/NH/CNN+LSTM/Barents Sea/Barents_model")
ber_cnn = load_model("C:/Users/ss230/Documents/Study/NSIDC/NH/CNN+LSTM/Bering Sea/Bering_model")
green_cnn = load_model("C:/Users/ss230/Documents/Study/NSIDC/NH/CNN+LSTM/Greenland Sea/Greenland_model")
kara_cnn = load_model("C:/Users/ss230/Documents/Study/NSIDC/NH/CNN+LSTM/Kara Sea/Kara_model")

baff_lstm = load_model("C:/Users/ss230/Documents/Study/NSIDC/NH/LSTM/Baffin Bay/Baffin_model")
baren_lstm = load_model("C:/Users/ss230/Documents/Study/NSIDC/NH/LSTM/Barents Sea/Barents_model")
ber_lstm = load_model("C:/Users/ss230/Documents/Study/NSIDC/NH/LSTM/Bering Sea/Bering_model")
green_lstm = load_model("C:/Users/ss230/Documents/Study/NSIDC/NH/LSTM/Greenland Sea/Greenland_model")
kara_lstm = load_model("C:/Users/ss230/Documents/Study/NSIDC/NH/LSTM/Kara Sea/Kara_model")

In [7]:
dates = Baffin['Date'].tolist()
datetime_index = pd.DatetimeIndex(dates)

In [9]:
datetime_index[12:]

DatetimeIndex(['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01',
               '2022-05-01', '2022-06-01', '2022-07-01', '2022-08-01',
               '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01'],
              dtype='datetime64[ns]', freq=None)

In [10]:
datetime_index.month_name()

Index(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December', 'January',
       'February', 'March', 'April', 'May', 'June', 'July', 'August',
       'September', 'October', 'November', 'December'],
      dtype='object')